<div class="w-32 flex flex-col m-auto clickable_components">
  <%= link_to '' do %>
    <div><%= image_tag("#{name}.png", data: {component: name }) %></div>
    <div><p><%= name %></p></div>
  <% end %>
</div>
