<%= render 'shared/banner-search', action: "Vous n'êtes plus à #{} ?" %>

<div class="margin">

  <h1 class="font-black my-10 ">Mes Favoris</h1>

  <% if @products.present? %>
      <p class="mb-10 font-light text-gray-600 ">Retrouvez facilement les consignes de tri, même en vous déplaçant</p>
      <% @products.each do |product| %>
        <%= render 'shared/card-fav', product: product %>
      <% end %>
  <% else %>
    <div > </div>
      <p class="text-justify font-light text-gray-600 mb-4 ">Vous n’avez aucun favoris pour le moment. </p>
      <p class="text-justify font-light text-gray-600 ">Ajouter les en cliquant sur <i class="far fa-star" style="color: #3CB9B7;"></i> sur chaque produit. Ainsi, vous retrouverez facilement les consignes de tri, même en vous déplaçant!</p>
  <% end %>

</div>
<div class="mt-64"></div>
<%= render 'shared/navbar-mobile' %>
