<div class="city-banner relative flex">
    <div class="container">

      <h2 class='font-black text-6xl text-white pt-40'>Bienvenue à Bordeaux</h2>

      <div id='btn-input-block'>

        <button class="active btn-location mt-3 text-3xl text-white font-light hover:bold rounded underline">
          <div class="font-medium"><%= action %></div>
        </button>
        <div class='hidden input-search postcode-input pl-32 pt-10'>
          <input id="input-search-style" type="text" placeholder="Ville, code postale ..." class="pl-8">
          <input id="input-submit" type="submit" class="bg-rose text-3xl text-white pb-4 pt-4 px-6 rounded-full" value="Ok">
        </div>
      </div>
        <div class="inner"></div>
      <div class="minilogo"><%= image_tag "logo.png", alt: "alttext"%></div>
    </div>
</div>




