<div class="image-banner relative flex" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5)), url(' <%= @product.photo_url %>">
    <div class="container">

      <h2 id="city" class='font-black text-6xl text-white pt-40'> <%= product.name %></h2>
      <div class="inner"></div>
      <div class="minilogo"><%= image_tag "logo.png", alt: "alttext"%></div>
    </div>
</div>

