<div class="city-banner relative">
    <div class="container">
      <h2 class='font-black text-6xl text-white ml-20 pt-40'>Bienvenue à Besançon</h2>
<!-- To be continued: adding a search bar -->
      <div class="inner">
      </div>
    </div>
</div>
