<div class="city-banner relative">
    <div class="container">
      <h2 class='font-black text-6xl text-white ml-20 pt-40'> <%#= phrase %> Bienvenue à Besançon</h2>
      <div class="inner">
      </div>
    </div>
</div>
