<div class="card-product bg-creme bg-opacity-75 h-64 rounded-lg flex content-center mx-10 my-10 shadow-">
    <img src="https://source.unsplash.com/random" class="w-1/4 max-h-full rounded-lg m-2"/>
  <div class="card-product-infos mx-20 mt-12">
      <h2 class="font-bold mb-4 text-4xl"><%#= name %> Name en ERB</h2>
      <p class="text-3xl"><%#= brand %> Brand info en ERB</p>
      <p class="text-3xl"><%#= description %> Listing de tous les matériaux en ERB</p>
  </div>
</div>
