<div class="card-product bg-creme bg-opacity-75 h-64 rounded-lg flex content-center mx-10 my-10 shadow-">
  <%= image_tag 'garbage.png', class: 'w-1/4 max-h-full m-10 rounded-lg m-2' %>
  <div class="card-product-infos m-20 ml-5">
    <h2 class="mb-4 font-bold"><%= component %> en <%= material %></h2>
    <p> <%= sorting_instructions %></p>
    <p></p>
  </div>
</div>



