<p>Retrouvez facilement les consignes de tri, même en vous déplaçant</p>

<div class="card-fav bg-white">
  <%= image_tag "pastilles-jaune.png", alt: "alttext" %>
  <div class="text">
    <% @products.each do |product| %>
      <h3><%= product.name %></h3>
    <% end %>
    <%# @product.materials.each do |material| %>
      <p> Nom du matériau : description</p>
    <%# end %>
  </div>
</div>
