<div class="card-consigne bg-body flex content-center my-10">
  <div class="card-product-infos mx-12 my-10">
      <h2 class="font-medium mb-4 text-4xl text-creme">Centre de Tri</h2>
      <p class="font-light text-3xl text-creme">Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Animi cupiditate perspiciatis non inventore aliquid reprehenderit odit quo culpa cumque aperiam hic amet sunt sed at officiis placeat fuga, fugiat. Aperiam. </p>
  </div>
</div>

