<div class="relative card-product bg-white flex content-center shadow-2xl mx-10 my-20 shadow-">
  <% case color %>
    <% when 'verte' %>
      <% image_name = "green-trash" %>
    <% when 'bleue' %>
      <% image_name = "blue-trash" %>
    <% when 'jaune' %>
      <% image_name = "yellow-trash" %>
    <% when 'grise' %>
      <% image_name = "grey-trash" %>
    <% when 'borne de tri - papier' %>
      <% image_name = "blue-borne" %>
    <% when 'borne de tri - verre' %>
      <% image_name = "grey-borne" %>
  <% end %>

  <div class="card-product-infos m-20 mr-5">
    <h3 class="mb-4 font-normal">Bouchon <%#= component %> en <%#= material %>Plastique</h3>
    <p>Jeter dans la poubelle <strong> <%#= sorting_instructions %>verte</strong></p>
  </div>
  <%= image_tag "#{image_name}.png", width:'70', height: 'auto' ,class: 'w-1/4 max-h-full m-10 rounded-lg m-2 py-10' %>
</div>



