
<div id="myNav" >
  <nav class="navbar bg-white fixed-bottom h-40 mx-5 mb-16">



    <%= link_to root_path, class: "#{ params[:controller] == 'pages' && params[:action] == 'home' ? 'active-nav' : 'sleep-nav'}" do %>
      <div class="flex flex-col ml-16"><i class="fas fa-home text-6xl"></i><p class="text-2xl text-sleep mt-3">Home</p></div>

    <div class="relative">
      <div id="top-banner-arch" class="bg-white" ></div>
      <%= link_to scan_path, class: "#{ params[:controller] == 'products' && params[:action] == 'scan' ? 'active-nav' : 'sleep-nav'}" do %>
        <div class="flex flex-col"><i class="fas fa-barcode text-6xl"></i><p class="text-2xl text-sleep mt-3">Scan</p></div>
      <% end %>
      <div id="bottom-banner-arch" class="bg-white shadow-2xl" ></div>
    </div>

    <%= link_to favorites_path, class: "#{ params[:controller] == 'favorites' && params[:action] == 'index' ? 'active-nav' : 'sleep-nav'}" do %>
      <div class="flex flex-col"><i class="fas fa-star text-6xl"></i><p class="text-2xl text-sleep mt-3">Favoris</p></div>
    <% end %>

    <%= link_to map_path, class: "#{ params[:controller] == 'places' && params[:action] == 'map' ? 'active-nav' : 'sleep-nav'}" do %>
      <div class="flex flex-col"><i class="fas fa-map-pin  mr-16  text-6xl"></i><p class="text-2xl text-sleep mt-3">Map</p></div>
    <% end %>

  </nav>
</div>

<!-- place_path(@place) -->
<!-- map_place_path -->
<!-- scan_path -->
<!-- favorites_path -->
<!-- root_path -->

