<%= render 'shared/banner-search', action: "Vous n'êtes plus à Bordeaux?" %>

<div class="container">

  <div class=''>
    <p class='text-left text-typo font-black' style='font-size: 95px'>
      <span id='banner-typed-text' style='font-size: 95px' class='text-gray-600 pt-50'></span>
    </p>

    <p class='text-4xl text-white font-normal pt-10 text-gray-600'>
      Souriez, le tri diffcile c'est fini!
    </p>

    <p class='text-4xl text-white font-normal pt-10 text-gray-600'>
      The Good Wayste, vous simplifie la vie : apprennez à trier vite et bien quelle que soit votre localisation !
    </p>
  </div>

  <%= render 'shared/card-consignes-green' %>
  <%= render 'shared/card-consignes-rose' %>
</div>
