<div>
  <div class=''>

    <div class='city-banner relative'>
      <img class='relative' heigth='330px' width='100%' src="https://images.unsplash.com/photo-1582444520839-8c72f8721245?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" alt="">
    </div>


    <div class='city-geolocalisation absolute top-0 left-0'>
      <p class='font-black text-6xl text-white pl-20 pt-40'>Bienvenue à ...</p>
      <p id='link-to-postcode' class='pl-32 text-5xl text-white' style='text-shadow: gray 0.1em 0.1em 0.2em'>Vous n'êtes plus à ... ?</p>
    </div>

  </div>



  <div>
    <p class='text-center text-white font-black pt-56' style='font-size: 95px'>
      <span id='banner-typed-text' style='font-size: 95px' class='text-center text-white pt-50'></span>
    </p>
    <p class='text-center text-5xl text-white font-medium font-extrabold pt-32' style='text-shadow: gray 0.1em 0.1em 0.1em'>Souriez, le tri diffcile c'est fini!</p>
    <br><br>
    <p class='text-center text-5xl text-white font-medium font-extrabold mx-12x' style='text-shadow: gray 0.1em 0.1em 0.1em'>The Good Wayste, vous simplifie la vie: apprennez à trier vite et bien quelle que soit votre localisation !</p>
  </div>
</div>




<!--
<%= render 'shared/postcode_input' %>
 -->

<!-- GEOCODING OBJECTS


Trouver la localisation à partir de l'IP
results = Geocoder.search("172.56.21.89")
results.first.coordinates
=> [30.267153, -97.7430608]
results.first.country
=> "United States"

Obtenir l'adresse ip du client à l'aide de la commande:
 -->
