
<%= render 'shared/banner-search', action: "Vous n'êtes plus à Besançon?" %>


<div class=''>
  <p class='text-center text-white font-black' style='font-size: 95px'>
    <span id='banner-typed-text' style='font-size: 95px' class='text-center text-white pt-50'></span>
  </p>
  <p class='text-center text-5xl text-white font-medium font-extrabold pt-32' style='text-shadow: gray 0.1em 0.1em 0.1em'>Souriez, le tri diffcile c'est fini!</p>
  <br><br>
  <p class='text-center text-5xl text-white font-medium font-extrabold mx-20' style='text-shadow: gray 0.1em 0.1em 0.1em'>The Good Wayste, vous simplifie la vie: apprennez à trier vite et bien quelle que soit votre localisation !</p>
</div>

