/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "component/index";
@import "pages";


body {
  background-color: #319795;
  padding-top: 80px;

  #logobody {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    left: 200px;
    top: 900px;
    opacity: 0.2;
  }
}


/* Pour la font-weight vous pouvez rajouter ça direct
dans votre class html*/
/*
<h1 class="font-black">Souriez, Scannez, Triez</h1>
<h2 class="font-medium"> Here, is TGW </h2>
<h3 class="font-normal"> Let's code </h3>
<p class="font-light"> Chez TGW on met tout en oeuvre pour vous servir </p>
*/

h1 {
 font-family: 'Poppins', sans-serif;
 font-size: 100px !important;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 80px !important;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 60px !important;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 40px !important;
}

a {
  text-decoration: none;
}
