#barcode-scanner video, canvas {
  width: 100vw;

  height: 50vh;
  position: relative;
  canvas {
    width: 960px;
    border: 15px dashed white;
    position: absolute;
    left: 10px;
    bottom: 525px;
  }
}

#barcode-scanner video.drawingBuffer, canvas.drawingBuffer {
  display: none;
}

.scan-t-l {
  position: absolute;
  top: 720px;
  left: 40px;
}

.scan-t-r {
  position: absolute;
  top: 725px;
  right: 50px;
}

.scan-b-l {
  position: absolute;
  top: 1225px;
  left: 55px;
}

.scan-b-r {
  position: absolute;
  top: 1217px;
  right: 49px;
}


