#barcode-scanner video, canvas {
  margin: auto;
  width: 100%;
  border-radius: 25px;

  canvas {
    width: 960px;
    border: 15px dashed white;
    position: absolute;
    left: 10px;
    bottom: 525px;
    border-radius: 25px;
  }
}

#barcode-scanner video.drawingBuffer, canvas.drawingBuffer {
  display: none;
}

.divScanContainer {
  position: relative;
  width: 100%;
}

.divScan {
  padding: 25px;

}

.scan-t-l {
  // display: inline-block;
  position: absolute;
  top:  0px;
  left:  0px;
}

.scan-t-r {
  // display: inline-block;
  position:  absolute;
  top:  0px;
  right: 0px;
}

.scan-b-l {
  // display: inline-block;
  position: absolute;
  bottom:  20px;
  left:  0px;
}

.scan-b-r {
  // display: inline-block;
  position: absolute;
  bottom:  20px;
  right: 0px;
}


