
<div class="margin">

  <!-- <p class="consigne mt-24 mx-24 text-center text-creme">Placer le code-barre de votre produit dans l'espace dédié ci-dessous</p>
   -->
  <h1 class="text-left text-gray-600 font-black mt-24">Scannez l'emballage</h1>
  <p class="text-4xl text-white font-normal pt-10 text-gray-600"> Positionnez le code-barre immobile au centre de l'écran et patientez quelques instants</p>

</div>

  <div class="my-32 divScanContainer" style="width:680px; margin: auto;">
      <div class= 'divScan'  id="barcode-scanner">
        <div class="scan-b-l"><%= image_tag "bottom-left-scan.png", alt: "alttext" %></div>
        <div class="scan-b-r"><%= image_tag "bottom-right-scan.png", alt: "alttext" %></div>
        <div class="scan-t-l"><%= image_tag "top-left-scan.png", alt: "alttext" %></div>
        <div class="scan-t-r"><%= image_tag "top-right-scan.png", alt: "alttext" %></div>
      </div>
  </div>



<div class="container">
    <div class="mx-32">
      <div class="btn-green-js mb-6 text-center">
        <button class="green-btn text-4xl text-white font-light py-4 px-6 rounded-lg ">
          Impossible de scanner ?
        </button>
      </div>
  <!-- ajout class hidden -->
      <div class="hidden form-green-js text-4xl text-white font-light py-4 px-6 text-center ">
        <form action= '/scan/barcode?val_barcode=' method="get">
          <label for="val_barcode">Saisissez le code-barre</label>

          <div class="flex bg-white rounded-r-full">
            <input type="text" id="val_barcode" name="val_barcode" class="rounded flex-grow text-gray-600">
            <button class="rounded-full w-20">OK</button>
            <!-- <button type="submit" class="rounded-full px-6 py-3">OK</button> -->
          </div>
        </form>
      </div>

    </div>

</div>

