<p class="consigne mt-24 mx-24 text-center text-creme">Placer le code-barre de votre produit dans l'espace dédié ci-dessous</p>
<div class= 'divScan w-screen h-screen' id="barcode-scanner"></div>
<div>
  <h3>Le scan se passe mal? </h3>
  <form action= '/scan/barcode?val_barcode=' method="get" class= "flex">
     <div>du code barre</label>
        <input type="text" id="barcode" name="barcode">
    </div>
    <div class="button">
        <label for="name">Numero 
      <button type="submit">Rechercher</button>
    </div>
  </form>
</div>
