<div class= 'divScan' id="barcode-scanner"></div>
<div>
  <h3>Le scan se passe mal? </h3>
  <form action= '/scan/barcode?val_barcode=' method="get" class= "flex">
     <div>
        <label for="name">Numero du code barre</label>
        <input type="text" id="barcode" name="barcode">
    </div>
    <div class="button">
      <button type="submit">Rechercher</button>
    </div>
  </form>
</div>
