<%= render 'shared/banner-simple' %>
<% city = Place.find(1) %>

<div class="scrolling-wrapper">

  <div class="card-scroll">
    <h2 class="font-black ml-16 my-10">Consignes de tri</h2>
    <% @product.components.each do |component| %>
    <% component_name = component.name %>
    <% material = component.material %>
    <% material_name = material.name.downcase %>
    <%
      garbage = Garbage.
        where(place: city).
        where("? = ANY (garbages.accepted_materials)", material.slug).
        first
    %>

    <% if garbage.color.include?("borne") %>
      <% sorting_instructions = " Rendez-vous à la #{garbage.color} la plus proche pour le jeter" %>
    <% else %>
      <% sorting_instructions = "Jetez-le dans la poubelle #{garbage.color}" %>
    <% end %>


   <%= render 'shared/card-show' , component: component_name , material: material_name, sorting_instructions: sorting_instructions, color: garbage.color%>
    <% end %>
  </div>

  <div class="card-scroll">
    <h1>Infos sur les matériaux</h1>
    <% @product.materials.each do |material| %>
      <h2> <%= material.name %></h2>
      <p><%= material.description %></p>
    <% end %>
  </div>
</div>

