.city-banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(Besançon.jpg);
  background-size: cover;
  width: 100% !important;
  height: 700px !important;

}

.inner {
  position: absolute;
  background: #319795;
  height: 150px;
  width: 100%;
  bottom: -1px;
  left: -1px;
  border-radius: 50% 50% 0% 0% / 100% 100% 0% 0% ;
}

.minilogo {
  position: absolute;
  background-color: #319795;
  bottom: 40px;
  right: 40%;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  z-index: 5;
}
