.btn-green-js {
  // background: #3CB9B7;
  // border-radius: 20px;
  border-bottom: 1px solid #718094;
  width: 235px;
  margin: auto
}


.form-green-js {
  background: #3CB9B7;
  border-radius: 25px;

  button {
    color: #3CB9B7;
    font-weight: bold;
    width: 125px;
    background: white;
    box-shadow: 2px 2px 10px #505050;
  }
}


.btn-pink-home {
  height: 100%;
  width: 78px;
  background: #F27875;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 10px #505050;
  font-size: 26px;
}


.input-search {
  width: 345px;
  height: 60px;
  border: 3px solid #F27875;
  border-radius: 3px;
  background: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

}

.btn-component-pink {
  border-radius: 25px;
}
