.card-consigne {
  border-radius: 25px;
}

.card-product {
  border-radius: 25px;
}

.card-fav {
  border-radius: 25px;
}

.delete-cross {
  position: absolute;
  right: 25px;
  top: 15px;
  color: #F27875;
}

