.clickable_components {

  border-radius: 50%;
  background: white;
  box-shadow: 2px 2px 10px #505050;
  padding: 36px 0;
}


.form-component {
  width: 250px;
  border: 1px solid #3CB9B7;
  border-radius: 3px;
  background: white;

}

.btn-component-form {
  width: 50px;
  background: #3CB9B7;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 10px #505050;

}

.exist-component {
  border: 12px solid #3CB9B7;

}
