.clickable_components {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
  padding: 38px 0;
}


.form-component {
  width: 500px;
  border: 1px solid #3CB9B7;
  background: white;
  height: 80px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;

  select {
    width: 400px;
    height: 60px;
    margin: auto;
    margin-left: 3px
  }

}

.btn-component-form {
  width: 110px;
  background: #3CB9B7;
  color: white;
  font-weight: bold;
  font-size: 28px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);

}

.exist-component {
  border: 12px solid #3CB9B7;

}

.material-form {
  width: 500px;
  border: 1px solid #3CB9B7;
  background: white;
  height: 80px;
  border-radius: 20px;


  select {
    background: transparent;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
  }

}
