#map {
  border-radius: 0 0 25px 25px;
  height: 600px;

  box-shadow: 0px 4px 10px rgba(0,0,0,0.25)

}


.map-show-css{
  height: 600px;
  border-radius: 25px;
  // box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25)

}

.map-card {
  border-radius: 25px 25px 0 0;

  box-shadow: 0px -4px 10px rgba(0,0,0,0.25)
}

.mapboxgl-control-container {
  display: none;
}

.mapboxgl-canvas {
  border-radius: 0px 0px 20px 20px;
}


.map-form {
  width: 400px;
  border: 1px solid #3CB9B7;
  border-radius: 3px;
  background: white;

}

.btn-map-form {
  width: 80px;
  background: #3CB9B7;
  color: white;
  font-weight: bold;
  box-shadow: 2px 2px 10px #505050;

}

#map2 {
  height: 600px;
  border-radius: 25px;
  // box-shadow: 0px -10px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25)
}


