.navbar {
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}

.sleep-nav {
  color: #718196;
}

.active-nav {
  color: #3CB9B7 !important;
  font-size: 50px !important;
}

#top-banner-arch{
  position: absolute;
  height: 50px;
  width: 200px;
  top: -60px;
  left: -70px;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0% ;
}

#bottom-banner-arch{
  position: absolute;
  height: 50px;
  width: 200px;
  top: 125px;
  left: -70px;
  border-radius: 50% 50% 50% 50% / 0% 0% 100% 100% ;
}
