.logo-welcome {
  width: 300px;
}

.label-welcome {
  width: 300px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.complete-logo {
  margin-top: 370px;
}

// .title-first {
//   position: absolute;
//   top: 800px;
// }
