.logo-welcome {
  width: 300px;
}

.label-welcome {
  width: 300px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.complete-logo {
  position: absolute;
  top: 600px;
  right: 330px;
}

.title-first {
  position: absolute;
  top: 800px;
}

#location-start {
  position: absolute;
  top:1100px;
  right: 350px;
}

.user-request {
  position: absolute;
  top:1200px;
}
