<%= render 'shared/banner-search'  %>

<div class="margin">
  <h2 class= "my-10 font-bold">Déchèteries & points de collecte</h2>
  <p class="mb-10 font-light text-gray-600 ">De nombreux déchets nécessitent d'être déposés dans des lieux spécialisées. Retrouvez-ici les adresses utiles autour de vous !</p>


  <div class="map-card flex bg-white py-12 mt-3 justify-around items-center">
    <div><p class="bold text-gray-600 font-light ">Matériau :</p></div>
      <div class="flex bg-white rounded-r-full mt-6 form-component justify-between">
        <%= select_tag "credit_card", options_for_select(Map.distinct.order(:name).pluck(:name), ''), prompt: "Select something" %>
      </div>
    </div>
  </div>
  <div class= "mb-5 mt-3" id="map">
  </div>
</div>
<div class="mt-64"></div>
<%= render 'shared/navbar-mobile' %>

<!-- , label: false, input_html: {class: 'flex-grow bg-white w-64 h-auto mt-2 text-2xl'}  -->
