<%= render 'shared/banner-search'  %>

<div class="container">
  <h1 class= "mb-10">Où jeter?</h1>

  <div class="map-card flex bg-white py-12 mt-3 justify-around items-center">
    <div><p class="bold">Matériau :</p></div>
    <div class="flex bg-white rounded-r-full map-form justify-between">
      <input type="text" class= 'flex-grow bg-white w-100 h-12'>
      <input type= "submit" value="OK" label= "Materiaux :" class= "rounded-full btn-map-form">
    </div>
  </div>
  <div class= "mb-5 mt-3" id="map">
  </div>
</div>
<%= render 'shared/navbar-mobile' %>
