<%= render 'shared/banner-search'  %>

<div class="container">
  <h1>Où jeter?</h1>
  <div class="card flex align-items-center justify-center ">
    <div><h2 class="bold component_name">Matériau :</h2></div>
    <div class="flex bg-white rounded-r-full mt-3 form-component justify-between">
      <input type="text" class= 'flex-grow bg-white w-48 h-8'>
      <input type= "submit" value="OK" label= "Materiaux :" class= "rounded-full btn-component-form">
    </div>

    <div class= "container" id="map">
    </div>
  </div>
</div>
